/*******GENERAL SETTING*******/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /*set root font size for one rem*/
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #000;
  margin: 4.8rem 4.8rem 4.8rem 4.8rem;
}

body {
  background-image: url("background.png");
  background-size: cover;
  background-position: center;
}

/*******HEADING********/
.header {
  text-align: center;
  margin-bottom: 2.4rem;
  font-size: 4.8rem;
  font-weight: 600;
  color: rgb(175, 28, 101);
}

.assignment-info {
  display: flex;
  justify-content: space-between;
  padding: 0rem 10rem 0rem 10rem;
  font-size: 2.4rem;
  color: rgb(175, 28, 101);
}

/*******CAT-INFO CARD DESIGN********/
#breed-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 1.8rem;
  row-gap: 4.8rem;
  margin: 4.8rem 0 4.8rem 0;
}

.cat-info {
  /*using px to make the card size fixed*/
  width: 230px;
  height: 350px;

  background-color: white;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  max-width: 90%;
}

.cat-name {
  font-size: 2.4rem;
  text-align: center;
}

.cat-temperament {
  margin-top: 2.4rem;
  font-size: 2.4rem;
}

/********SELECT LIST & BUTTON DESIGN***********/
.ask-question {
  display: flex;
  gap: 2.4rem;
  margin: 2.4rem 0 2.4rem 0;
  font-size: 1.8rem;
}

.check-answer {
  display: flex;
  gap: 2.4rem;
  margin-bottom: 2.4rem;
  font-size: 1.8rem;
}

.crossed-out {
  text-decoration: line-through;
  color: #ccc;
  opacity: 0.7;

  background-color: rgb(175, 28, 101);
  position: relative;
}

.crossed-out::after {
  content: "❌";
  font-size: 2.4rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.win {
  background-color: #88b72b;
  padding: 1rem;
  position: relative;
  opacity: 0.8;
}

.win::after {
  content: "✔️";
  font-size: 2.4rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

button {
  height: 4.2rem;
  width: 10.2rem;
  font-size: 2.4rem;
  background-color: pink;
  border: 2px solid rgb(175, 28, 101);
  border-radius: 2rem;
}

label {
  font-size: 2.4rem;
  font-weight: 500;
  color: rgb(175, 28, 101);
}

select {
  font-size: 2.4rem;
}

.outcome-div {
  border: 5px solid hsl(125, 91%, 35%);
  color: hsl(125, 91%, 35%);
  padding: 4.2rem;
  text-align: center;
  font-size: 3.8rem;
  margin-top: 2.4rem;
  font-weight: 600;
}

.btn {
  display: flex;
  column-gap: 2.4rem;
  align-items: center;
}
